body {
    background: #eef9bf;
    width: 100vw;
    height: 100vh;
}

/* header */

.header {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 40px;
}

.header h1 {
    color: #75B79E;
    font-size: 56px;
    font-weight: 700;
}


@media (max-width: 635px){
    .header{
        width: 312px; 
        margin-right: auto;
        margin-left: auto;  
    }

    .header h1 {
        font-size: 36px;
    }

    .header span {
        display: flex;        
        justify-content: center;
    }
}

